<launch>

    <arg name="scenario"    default="1"/>
    <param name="scenario" value="$(arg scenario)" /> 


    <node 
        name="markerVisualizationNode" 
        pkg="utilities" 
        type="marker_visualization_node.py" 
        output="screen">
    </node>


    <include file="$(find utilities)/launch/multi_turtlebots_navj2.launch" />
    <include file="$(find utilities)/launch/timDemo_teleop.launch" />

   <!-- <group if="$(eval arg('scenario') == '2')">
        <include file="$(find utilities)/launch/multi_turtlebots_nav.launch"/>
        <include file="$(find utilities)/launch/timDemo_teleop.launch"/>
    </group>

    <group if="$(eval arg('scenario') == '1')">
        <include file="$(find utilities)/launch/multi_turtlebots_navj1.launch"/>
        <include file="$(find utilities)/launch/timDemo_teleop.launch"/>
    </group>

    <group if="$(eval arg('scenario') == '3')">
        <include file="$(find utilities)/launch/multi_turtlebots_navj2.launch"/>
        <include file="$(find utilities)/launch/timDemo_auto.launch"/>
    </group>-->

    
    <node 
        name="initializationNode" 
        pkg="utilities" 
        type="turtlebotsInitialization.py" 
        output="screen">
    </node>
    
    <!-- <node 
        name="chatNode" 
        pkg="OpenAI_interface" 
        type="app_ros.py" 
        output="screen">
    </node> -->


    <node 
        name="dataMediatorNode" 
        pkg="utilities" 
        type="data_mediator.py" 
        output="screen">
    </node>

    <node 
        name="sensors_activation_node" 
        pkg="utilities" 
        type="sensors_activation_node.py" 
        output="screen">
    </node>

    <node 
        name="check_robot_goal_node" 
        pkg="utilities" 
        type="check_robot_goal.py" 
        output="screen">
    </node>




    

</launch>