<launch>
    <arg name="control_mode" default="joystick" doc="Type of control: 'joystick' or 'keyboard'"/>
    <arg name="joy_dev" default="/dev/input/js0" doc="Device path del joystick"/>

    <group if="$(eval arg('control_mode') == 'keyboard')">
        <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="teleop" output="screen">
            <remap from="cmd_vel" to="actor/cmd_vel"/> 
            <param name="BURGER_MAX_LIN_VEL" value="1.0"/>
        </node>
    </group>

    <group if="$(eval arg('control_mode') == 'joystick')">
        
        <node pkg="joy" type="joy_node" name="joy_node" output="screen">
            <param name="dev" value="$(arg joy_dev)"/>
            <param name="deadzone" value="0.1"/>
        </node>

        <node pkg="utilities" type="ps4_joystick_control.py" name="ps4_joystick_control" output="screen">
            <param name="axis_linear" value="1"/>
            <param name="axis_l2" value="2"/>
            <param name="axis_r2" value="5"/>
            <param name="deadzone" value="0.1"/>
            <param name="max_linear_vel" value="1.0"/>
            <param name="max_angular_vel" value="2.5"/>
            <param name="invert_linear" value="false"/>
            <param name="invert_angular" value="false"/>
            <param name="soft_scale" value="true"/>
            
            <remap from="cmd_vel" to="actor/cmd_vel"/>
        </node> 
    </group>

</launch>