
<launch>
  <!-- Argomenti -->
  <arg name="world_file" default="$(find utilities)/worlds/jamarworld3_slam.world" />
  <arg name="model" default="burger" />
  <arg name="namespace" default="turtlebot3_1"/>

  <!-- Avvio Gazebo -->
  <param name="use_sim_time" value="true" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)"/>
  </include>

  <node pkg="tf" type="static_transform_publisher" name="map_to_world_broadcaster"
      args="0 0 0 0 0 0 map $(arg namespace)/map 100" />


  <!-- Gruppo con namespace -->
  <group ns="$(arg namespace)">
    <!-- Prefisso per tf -->
    <param name="tf_prefix" value="$(arg namespace)" />

     <!-- robot_description -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro'" />

    <!-- Robot State Publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="state_publisher" />

    <!-- Spawn -->
    <node name="spawn_turtlebot3" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -model turtlebot3 -x 0.0 -y 0.0 -z 0.0 -param robot_description"
          output="screen" />

    <!-- SLAM Gmapping -->
    <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" output="screen">
      <!-- Frame rimappati con prefisso -->
      <param name="base_frame" value="$(arg namespace)/base_footprint"/>
      <param name="odom_frame" value="$(arg namespace)/odom"/>
      <!-- <param name="map_frame"  value="$(arg namespace)/map"/> -->
      <remap from="scan" to="scan"/>
    </node>

    <!-- Teleoperation -->
    <!-- <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="teleop" /> -->

    <!-- RViz -->
    <node pkg="rviz" type="rviz" name="rviz" output="screen"
          args="-d $(find utilities)/config/rviz/turtlebot3_slam.rviz"/>
  </group>

  <!-- PS4 controller for teleoperation -->
  <node pkg="joy" type="joy_node" name="joy_node" output="screen">
    <param name="dev" value="/dev/input/js0"/>
    <param name="deadzone" value="0.1"/>
  </node>

  <node pkg="utilities" type="ps4_joystick_control.py" name="ps4_joystick_control" output="screen">
      <!-- Axis mapping (customizza se necessario) -->
      <param name="axis_linear" value="1"/>
      <param name="axis_l2" value="2"/>
      <param name="axis_r2" value="5"/>
      <!-- Behaviour parameters -->
      <param name="deadzone" value="0.1"/>
      <param name="max_linear_vel" value="0.5"/>
      <param name="max_angular_vel" value="1.0"/>
      <param name="invert_linear" value="false"/>
      <param name="invert_angular" value="false"/>
      <param name="soft_scale" value="true"/>
      <!-- Remap topic to your robot controller if necessario -->
      <remap from="cmd_vel" to="turtlebot3_1/cmd_vel"/>
  </node>

</launch>